html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main,.swiper-container,.swiper-wrapper,.swiper-slide{
    width: 100%;
    height: 100%;

}
#main{
    position: relative;
}
.swiper-wrapper .slide1,.swiper-wrapper .slide2 ,.swiper-wrapper .slide3,.slide4,.slide5,.slide6,.slide7{
    background: url("../img/bg.png") no-repeat #c2c0c1;
    background-size: cover;
}
.slide1 img,.slide2 img,.slide3 img,.slide4 img,.slide5 img,.slide6 img{
    opacity: 0;
    position: absolute;
}
#page1 img,#page2 img,#page3 img{
    opacity: 0.7;
}
#page4 img,#page5 img,#page6 img{
    opacity: 1;
}
.slide3 h2,.slide4 h2,.slide5 h2,.slide6 h2{
    position: absolute;
    font-size: 0.5rem;
    font-weight: normal;
    opacity: 0;
}
#page3 h2,#page4 h2,#page5 h2,#page6 h2{
    opacity: 1;
}
.slide3 p,.slide4 p{
    position: absolute;
}



/*i*/
.swiper-container i{
    width: 0.8rem;
    height: 0.8rem;
    background: url("../img/up.png") no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 2.8rem;
    z-index: 100;

    -webkit-animation: tranI 2s infinite 0.5s both;
    animation: tranI 2s infinite 0.5s both;
}
@keyframes tranI {
    0%{
        bottom: 0;
    }
    100%{
        bottom:0.5rem;
    }
}
@-webkit-keyframes tranI {
    0%{
        bottom: 0;
    }
    100%{
        bottom:0.5rem;
    }
}
/*slide1*/
.slide1 img:nth-child(1){
    width: 0.82rem;
    height: 0.64rem;
    left:0.95rem;
    top: 3.9rem;
}
.slide1 img:nth-child(2){
    width: 0.82rem;
    height: 0.64rem;
    left:1.7rem;
    top: 4.8rem;
}
.slide1 img:nth-child(3){
    width: 0.82rem;
    height: 0.8rem;
    left:3.1rem;
    top: 4.4rem;
}
.slide1 img:nth-child(4){
    width: 0.82rem;
    height: 0.7rem;
    left:4.4rem;
    top: 5.2rem;
}
.slide1 img:nth-child(5){
    width: 2.58rem;
    height:5.54rem;
    left:-0.4rem;
    top: 2rem;
}
.slide1 img:nth-child(6){
    width: 2.24rem;
    height: 4.8rem;
    left:1.3rem;
    top: 2.2rem;
}
.slide1 img:nth-child(7){
    width: 2.48rem;
    height: 5.32rem;
    left:2.6rem;
    top: 3rem;
}
.slide1 img:nth-child(8){
    width: 2.3rem;
    height: 4.96rem;
    left:4.4rem;
    top: 2.3rem;
}
.slide1 p{
    position: absolute;
    font-size: 0.6rem;
    left: 4rem;
    top: 8.5rem;
}
#page1 img:nth-child(1){
    -webkit-animation: bounceInLeft 1s 0.8s both;
    animation: bounceInLeft 1s 0.8s both;
}
#page1 img:nth-child(2){
    -webkit-animation: bounceInLeft 1s 0.8s both;
    animation: bounceInLeft 1s 0.8s both;
}
#page1 img:nth-child(3){
    -webkit-animation: bounceInRight 1s 0.8s both;
    animation: bounceInRight 1s 0.8s both;
}
#page1 img:nth-child(4){
    -webkit-animation: bounceInRight 1s 0.8s both;
    animation: bounceInRight 1s 0.8s both;
}
#page1 img:nth-child(5){
    -webkit-animation: bounceInDown 0.8s  both;
    animation: bounceInDown 0.8s  both;
}
#page1 img:nth-child(6){
    -webkit-animation: bounceInUp 0.8s  both;
    animation: bounceInUp 0.8s  both;
}
#page1 img:nth-child(7){
    -webkit-animation: bounceInDown 0.8s  both;
    animation: bounceInDown 0.8s  both;
}
#page1 img:nth-child(8){
    -webkit-animation: bounceInUp 0.8s  both;
    animation: bounceInUp 0.8s  both;
}
#page1 p{
    -webkit-animation: rotateIn 2s  both;
    animation: rotateIn 2s  both;
}

/*slide2*/
.slide2 img:nth-child(1){
    width: 3.4rem;
    height: 1.7rem;
    top: 1.9rem;
    left: 0.7rem;
}
.slide2 img:nth-child(2){
    width: 3.4rem;
    height: 2rem;
    top: 7rem;
    left: 2.7rem;
}
.slide2 div{
    position: absolute;
    width: 3.6rem;
    height: 3.8rem;
    top: 3.2rem;
    left: 2rem;
}
.slide2 div h2{
    font-size: 0.5rem;
    line-height: 0.8rem;
    font-weight: normal;
}
.slide2 div p{
    line-height: 0.7rem;
}
#page2 img:nth-child(1){
    -webkit-animation:bounceInDown 1s 0s 1 both;
    animation:bounceInDown 1s 0s 1 both;
}
#page2 img:nth-child(2){
    -webkit-animation:bounceInUp 1s 0.3s 1 both;
    animation:bounceInUp 1s 0.3s  1 both;
}
#page2 div{
    -webkit-animation: flip 1s both;
    animation: flip 1s both;
}
/*slide3*/
.slide3 img{
    width: 3.2rem;
    height: 1.8rem;
    left: 2rem;
    top: 1.7rem;
}
.slide3 h2{
    left: 2rem;
    top: 1.6rem;
}
.slide3 div{
    position: absolute;
    opacity: 0;
    left: 0.6rem;
    width: 5rem;
    height: 1rem;
    padding: 0.09rem;

}
.slide3 div p{
    display: block;
    margin: 0.1rem auto;
    text-align: center;
    color: #FFFFFF;
}
.slide3 div:nth-of-type(1){
    bottom:5.2rem;
}
.slide3 div:nth-of-type(2){
    bottom:3.8rem;
}
.slide3 div:nth-of-type(3){
    bottom:2.4rem;
}
.slide3 div:nth-of-type(4){
    bottom:1rem;
}
.slide3 div:nth-of-type(1) p{
    margin-left: 1rem;
}
.slide3 div:nth-of-type(2) p{
    margin-left: 0.7rem;
}
.slide3 div:nth-of-type(3) p{
    margin-left: 0.8rem;
}
.slide3 div:nth-of-type(4) p{
    margin-left: 0.1rem;
}
#page3 h2{
    -webkit-animation: slideInLeft 3s both;
    animation: slideInLeft 3s both;
}
#page3 img{
    -webkit-animation: bounceInRight 2s both;
    animation: bounceInRight 2s both;
}
#page3 div:nth-of-type(1){
    -webkit-animation: wobble 2s  both;
    animation: wobble 2s  both;
    background: rgba(7, 6, 7, 0.47);
    opacity: 1;
}
#page3 div:nth-of-type(2){
    -webkit-animation: wobble 2s 0.7s  both;
    animation: wobble 2s 0.7s  both;
    background: rgba(7, 6, 7, 0.47);
    opacity: 1;
}
#page3 div:nth-of-type(3){
    -webkit-animation: wobble 2s 1s  both;
    animation: wobble 2s 1s  both;
    background: rgba(7, 6, 7, 0.47);
    opacity: 1;
}
#page3 div:nth-of-type(4){
    -webkit-animation: wobble 2s 1.5s  both;
    animation: wobble 2s 1.5s  both;
    background: rgba(7, 6, 7, 0.47);
    opacity: 1;
}
#page3 div:nth-of-type(1) p{
    -webkit-animation: bounceInLeft 2s both;
    animation: bounceInLeft 2s both;
}
#page3 div:nth-of-type(2) p{
    -webkit-animation: bounceInLeft 2s 0.7s both;
    animation: bounceInLeft 2s 0.7s both;
}
#page3 div:nth-of-type(3) p{
    -webkit-animation: bounceInLeft 2s 1s both;
    animation: bounceInLeft 2s 1s both;
}
#page3 div:nth-of-type(4) p{
    -webkit-animation: bounceInLeft 2s 1.5s both;
    animation: bounceInLeft 2s 1.5s both;
}
/*slide4*/
.slide4 img:nth-child(1){
    width: 2rem;
    height: 1.8rem;
    top: 4rem;
    left: 0.5rem;
}
.slide4 img:nth-child(2){
    width: 2.3rem;
    height: 2.2rem;
    top: 4rem;
    left: 3.6rem;
}
.slide4 img:nth-child(3){
    width: 3.2rem;
    height: 3rem;
    top: 7.6rem;
    left: 0.3rem;
}
.slide4 img:nth-child(4){
    width: 2.6rem;
    height: 2.5rem;
    top: 7rem;
    left: 3.6rem;
}
.slide4 img:nth-child(5){
    width: 1.5rem;
    height: 1.4rem;
    top: 6rem;
    left: 2.4rem;
}
.slide4 img:nth-child(6){
    width: 2.8rem;
    height: 1.1rem;
    top: 1.2rem;
    left: 1rem;
}
.slide4 img:nth-child(7){
    width: 2.5rem;
    height: 0.4rem;
    top: 2.8rem;
    left: 3rem;
}
.slide4 h2{
    top: 2rem;
    left: 2rem;
}
.slide4 p{
    font-size: 24px;
    color: #FFFFFF;
}
.slide4 p:nth-of-type(1){
    top: 4.6rem;
    left: 1rem;
}
.slide4 p:nth-of-type(2){
    top: 4.75rem;
    left: 4.35rem;
}
.slide4 p:nth-of-type(3){
    top: 6.46rem;
    left: 2.7rem;
    font-size: 0.3rem;
}
.slide4 p:nth-of-type(4){
    top: 8.6rem;
    left: 1.1rem;
    font-size: 0.56rem;
}
.slide4 p:nth-of-type(5){
    top: 7.9rem;
    left: 4.4rem;
    font-size: 0.52rem;
}
#page4 img:nth-child(1){
    -webkit-animation: zoomIn 0.8s infinite  both;
    animation: zoomIn 0.8s infinite  both;
}
#page4 img:nth-child(2){
    -webkit-animation: zoomIn 1s infinite 0.1s both;
    animation: zoomIn 1s infinite 0.1s both;
}
#page4 img:nth-child(3){
    -webkit-animation: zoomIn 1s infinite 0.2s both;
    animation: zoomIn 1s infinite 0.2s both;
}
#page4 img:nth-child(4){
    -webkit-animation: zoomIn 1.5s infinite 0.4s both;
    animation: zoomIn 1.5s infinite 0.4s both;
}
#page4 img:nth-child(5){
    -webkit-animation: zoomIn 1s infinite 0.6s both;
    animation: zoomIn 1s infinite 0.6s both;
}
#page4 img:nth-child(6){
    -webkit-animation: bounceInLeft 2s  both;
    animation: bounceInLeft 2s  both;
}
#page4 img:nth-child(7){
    -webkit-animation: lightSpeedIn 2s both;
    animation: lightSpeedIn 2s both;
}
#page4 h2{
    -webkit-animation: flash 2s infinite both;
    animation: flash 2s infinite both;
}

/*slide5*/
.slide5 img:nth-of-type(1){
    width: 2rem;
    height: 2.8rem;
    left: 3.4rem;
    top: 1.3rem;
}
.slide5 img:nth-of-type(2){
    width: 4rem;
    height: 0.5rem;
    left: 1rem;
    top: 2.6rem;
}
.slide5 img:nth-of-type(3){
    width: 3rem;
    height: 7rem;
    left: 2.3rem;
    top: 2rem;
}
.slide5 img:nth-of-type(4){
    width: 5rem;
    height: 7rem;
    left: 2rem;
    top: 3rem;
}
.slide5 img:nth-of-type(5){
    width: 4rem;
    height: 7rem;
    left: 2.15rem;
    top: 4rem;
}
.slide5 img:nth-of-type(6){
    width: 3rem;
    height: 7rem;
    left: 2.3rem;
    top: 5rem;
}
.slide5 img:nth-of-type(7){
    width: 4rem;
    height: 7rem;
    left: 2.15rem;
    top: 6rem;
}
.slide5 div:nth-of-type(5){
    /*top: 4rem;*/
}
.slide5 h2{
    left: 1.5rem;
    top: 1.7rem;
}
.slide5 div{
    position: absolute;
    top: 5rem;
    line-height: 0.8rem;
    left: 0.2rem;
    width: 2rem;
    padding-right: 0.2rem;
    height: 0.8rem;
    border-right: 1px solid #000011;
}
.slide5 div p{
    text-align: right;
}
.slide5 div:nth-of-type(2){
    top: 6rem;
}
.slide5 div:nth-of-type(3){
    top: 7rem;
}
.slide5 div:nth-of-type(4){
    top: 8rem;
}
.slide5 div:nth-of-type(5){
    top: 9rem;
}

#page5 img:nth-of-type(1){
    -webkit-animation: bounceInRight 1s both;
    animation: bounceInRight 1s both;
}
#page5 img:nth-of-type(2),#page5 h2{
    -webkit-animation: bounceInLeft 1s both;
    animation: bounceInLeft 1s both;
}
#page5 img:nth-of-type(3){
    -webkit-animation: fadeInLeft 1s both;
    animation: fadeInLeft 1s both;
}
#page5 img:nth-of-type(4){
    -webkit-animation: fadeInLeft 1s 0.4s both;
    animation: fadeInLeft 1s 0.4s both;
}
#page5 img:nth-of-type(5){
    -webkit-animation: fadeInLeft 1s 0.8s both;
    animation: fadeInLeft 1s 0.8s both;
}
#page5 img:nth-of-type(6){
    -webkit-animation: fadeInLeft 1s 1s both;
    animation: fadeInLeft 1s 1s both;
}
#page5 img:nth-of-type(7){
    -webkit-animation: fadeInLeft 1s 1.3s both;
    animation: fadeInLeft 1s 1.3s both;
}
/* #page5 div{
     -webkit-animation: bounceInLeft 2s both;
     animation: bounceInLeft 2s both;
 }*/

/*slide6*/
.slide6 img:nth-of-type(1){
    width: 1.8rem;
    height: 2.5rem;
    left: 0.5rem;
    top: 1rem;
}
.slide6 img:nth-of-type(2){
    width: 3.4rem;
    height: 1.7rem;
    left: 1.5rem;
    top: 2rem;
}
.slide6 h2{
    left: 2.5rem;
    top: 3rem;
}
.slide6 div{
    margin-top: 4rem;
}
.slide6 p{
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    opacity: 0;
}
#page6 p{
    opacity: 1;
}
#page6 img:nth-of-type(1){
    -webkit-animation: bounceInLeft 2s both;
    animation: bounceInLeft 2s both;
}
#page6 img:nth-of-type(2),#page6 h2{
    -webkit-animation: bounceInRight 2s both;
    animation: bounceInRight 2s both;
}
#page6 p:nth-of-type(1){
    -webkit-animation: bounceInLeft 1s both;
    animation: bounceInLeft 1s both;
}
#page6 p:nth-of-type(2){
    -webkit-animation: bounceInLeft 1s 1s both;
    animation: bounceInLeft 1s 1s both;
}


/*slide7*/
.slide7 img{
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin-left: -2rem;
    margin-top: -2rem;
    left: 50%;
    top:40%;
}
.slide7 span{
    /*display: block;
    margin: 3.8rem 1.2rem;*/
    position: absolute;
    left: 50%;
    top:65%;
    font-size: 0.5rem;
    margin-left: -1.6rem;
}
/*
#page7 span{
    -webkit-animation: wobble 1s infinite both;
    animation: wobble 1s infinite both;
}*/

@media  screen and (max-height:566px){  /*ipone4*/
    .slide1 p{
        top:8rem;
    }
    .slide3 img{
        top: 0.7rem;
    }
    .slide3 h2{
        top: 0.6rem;
    }
    .slide4 img:nth-child(3){
        top: 7rem;
        left: 0.1rem;
    }
    .slide4 p:nth-of-type(4){
        top: 8rem;
        left: 0.8rem;
    }
    /*   .slide5 img:nth-of-type(7){
           width: 4rem;
           height: 7rem;
           left: 2.15rem;
           top: 1rem;
       }
       .slide5 div:nth-of-type(5){
           top: 4rem;
       }*/
}




/*     .swiper-container i{
         display: block;
         width: 0;
         height: 0;
         padding: 0;
         border: .4rem solid transparent;
         border-bottom-color: white;
         position: absolute;
         bottom: .5rem;
         left: 50%;
         z-index: 111;
         margin-left: -0.2rem;
         animation: tranI 2s infinite 0.5s both;
     }
     .swiper-container i:after{
         content: '';
         width: 0;
         height: 0;
         padding: 0;
         border: .4rem solid transparent;
         border-bottom-color:#c2c0c1;
         position: absolute;
         top:-0.3rem;
         left: -0.4rem;
         z-index: 222;
     }*/
